<!DOCTYPE html>
<html>
<head>
  <title>Belluga</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Home", root_path %>
<%= link_to "Look for a Tutor", look_path %>
<%= link_to "Become a Tutor", become_path %>
<%= link_to "How It Works", how_path %>
<%= link_to "FAQ", about_path %>
<%= yield %>

</body>
</html>
